{% extends 'robot/base.html' %}
{% block title %}
    <title>课程体系</title>
{% endblock %}

    {% block img %}
	<img src="/static/images/about_int_01.jpg" width="1920" height="420" alt=""/>
    {% endblock %}


<!--学校介绍-->
    {% block left %}
        	<div class="abbg_t">
            	<h5>课程体系</h5>
                <p>CLASS SYSTEM</p>
            </div>
            <ul class="about_tabl">
            	<li class="abspe">
                	<p>课程体系表</p>
                    <img src="/static/images/arrow_r_03.png" width="20" height="20" alt=""/>
                </li>

            </ul>
    {% endblock %}

    {% block right %}

    <div class="sintro_you fr show clasys">
        <div class="crumb_bre clearfix">
            <p>> <a class="shouye" href="index.html">首页</a> > <a href="class_sys.html">课程体系</a></p>
        </div>
        <h2>机器人课程体系表</h2>
        <div class="news_tips clearfix">
            <span class="nw_date fl">2017-03-26</span>
            <span class="nw_view fl">216</span>
        </div>


       <table class="kecheng" width="820" border="1">
           <thead>
              <tr>
                <td>序号</td>
                <td>级别</td>
                <td>适合年龄段</td>
                <td>课程内容</td>
                <td>课时（节/期）</td>
                <td>最大班额</td>
                <td>备注</td>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>01</td>
                <td rowspan="3">机器人入门</td>
                <td rowspan="3">4-6岁</td>
                <td>头脑风暴</td>
                <td rowspan="3">48</td>
                <td rowspan="3">8</td>
                <td rowspan="3">前20节，60分钟/节，后面的课<br/>
程90分钟/节。每周一次课</td>
              </tr>
              <tr>
                <td>02</td>

                <td>小小演说家</td>




              </tr>
              <tr>
                <td>03</td>
                <td >程序认知</td>





              </tr>
              <tr>
                <td>04</td>
                <td rowspan="3">机器人初学</td>
                <td rowspan="3">一年级以上</td>
                <td>基础搭建及构思</td>
                <td rowspan="3">48</td>
                <td rowspan="3">8</td>
                <td>60分钟/节，每周一次课</td>
              </tr>
              <tr>
                <td>05</td>
                <td>源代码程控</td>
                <td>90分钟/节，每周一次课</td>




              </tr>
              <tr>
                <td>06</td>
                <td>级别考核认证</td>
                <td></td>




              </tr>
              <tr>
                <td>07</td>
                <td rowspan="3">机器人中级</td>
                <td rowspan="3">三年级以上</td>
                <td>EV3基础</td>
                <td>48</td>
                <td>8</td>
                <td>60分钟/节，每周一次课</td>
              </tr>
              <tr>
                <td>08</td>
                <td>EV3提高</td>
                <td>48</td>
                <td>8</td>
                <td>90分钟/节，每周一次课</td>


              </tr>
              <tr>
                <td>09</td>
                <td>级别考核认证</td>
                <td>2</td>
                <td></td>
                <td></td>


              </tr>
              <tr>
                <td>10</td>
                <td rowspan="5">机器人高级</td>
                <td>四年级以上</td>
                <td >电路与物理基础</td>
                <td>20</td>
                <td>4</td>
                <td>80分钟/节，每周一次课</td>
              </tr>
              <tr>
                <td>11</td>
                <td rowspan="4">五年级以上</td>
                <td>C语言基础</td>
                <td>40</td>
                <td>8</td>
                <td>70分钟/节，每周一次课</td>

              </tr>
              <tr>
                <td></td>
                <td>C语言提高</td>
                <td>48</td>
                <td>8</td>
                <td>90分钟/节，每周一次课</td>


              </tr>
              <tr>
                <td>12</td>
                <td>单片机</td>
                <td>40</td>
                <td>6</td>
                <td>90分钟/节，每周一次课</td>


              </tr>
              <tr>
                <td>13</td>
                <td>级别考核认证</td>
                <td>2</td>
                <td></td>
                <td></td>


              </tr>
              <tr>
                <td>14</td>
                <td rowspan="5">竞赛类课程</td>
                <td rowspan="5">五年级以上</td>
                <td>综合技能</td>
                <td>20</td>
                <td>10</td>
                <td>90分钟/节。每周两节，集中开课</td>
              </tr>
              <tr>
                <td>15</td>
                <td >FLL挑战赛</td>
                <td>20</td>
                <td>10</td>
                <td>90分钟/节。每周两节，集中开课</td>


              </tr>
              <tr>
                <td>16</td>
                <td>"全国小小发明"竞赛班</td>
                <td>20</td>
                <td>10</td>
                <td>90分钟/节。每周两节，集中开课</td>


              </tr>
              <tr>
                <td>17</td>
                <td>全国中学信息学奥数班</td>
                <td>15</td>
                <td>6</td>
                <td>90分钟/节。每周两节，集中开课</td>


              </tr>
              <tr>
                <td>18</td>
                <td>VEX挑战赛</td>
                <td>20</td>
                <td>8</td>
                <td>90分钟/节。每周两节，集中开课</td>


              </tr>
              <tr>
                <td>19</td>
                <td rowspan="3">科技类课程</td>
                <td>四年级以上</td>
                <td>发明及实用新型专利方法</td>
                <td>15</td>
                <td>30</td>
                <td>60分钟/节。每周两节，集中开课</td>
              </tr>
              <tr>
                <td>20</td>
                <td>三年级以上</td>
                <td>航模无人机</td>
                <td>20</td>
                <td>8</td>
                <td>60分钟/节，每周一次课</td>

              </tr>
              <tr>
                <td>21</td>
                <td>三年级以上</td>
                <td>3D打印入门体验课</td>
                <td>10</td>
                <td>6</td>
                <td>60分钟/节，每周一次课</td>

              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>七年级以上</td>
                <td>实用新型、发明专利</td>
                <td>20</td>
                <td>20</td>
                <td></td>
              </tr>
           </tbody>
        </table>

    </div>

    <script>

/*tab切换*/
$(function(){
	$('.about_tabl li').click(function(){
		var num=$(this).index();
		$(this).addClass('abspe').siblings('li').removeClass('abspe');
		$('.sintro_you').eq(num).addClass('show').siblings('.sintro_you').removeClass('show');
	});
});

/*分页*/

$(function(){
	$('.pagination li').click(function(){
		$(this).addClass('paging').siblings('li').removeClass('paging');

	});
});
</script>
    {% endblock %}







































